[Unit]
Description={{ deb_package_description }}
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/usr/opt/fcore
ExecStart=/usr/opt/fcore/bin/fcored
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=15
User=fcore
ExecStartPre=/bin/mkdir -p /run/fcore
ExecStartPre=/bin/chown fcore:fcore /run/fcore
ExecStartPre=/bin/chmod 755 /run/fcore
PermissionsStartOnly=true
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target